---
layout: default
title: Corner of the Hyperspace
---

<ul class="index-list">
    {% for post in paginator.posts %}
        <li class="index-listitem">
            <div class="index-post">
                <a href="{{ post.url }}" class="title">{{ post.title }}</a>
                <div class="faded-color-header">Posted on {{ post.date | date: "%B %e, %Y" }}</div>
                <div class="body-text">{{ post.excerpt }}</div>
                <a href="{{ post.url }}" class="hard-link">
                    More...
                </a>
            </div>
        </li>
    {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="index-navigation">
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="enabled pagination">
        Prev
    </a>
    {% else %}
    <span class="disabled pagination">Prev</span>
    {% endif %}

    <a href="/archive/" class="enabled pagination">Archive</a>

    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="enabled pagination">
        Next
    </a>
    {% else %}
    <span class="disabled pagination">Next</span>
    {% endif %}
</div>
{% endif %}
