---
layout: page
permalink: /tags/
title: Tags
---

<ul class="tags-list">
    {% for tag in site.tags %}
        <li>
            <div class="tags-list-item">
                <div id="{{ tag[0] }}" class="header tags-list-title">{{ tag[0] }}</div>
                <ul class="tags-list-values">
                    {% for post in tag[1] %}
                        <li><a href="{{ post.url }}" class="hard-link">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endfor %}
</ul>