<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137698650-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-137698650-1');
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ page.title }}</title>
    
    <link rel="icon" href="/assets/icon/favicon.ico"/>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}"/>
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>

    <script>
        function closeMenu(event){
            
            setMenuDisplayMode(function(menu){

                menu.style.display = "none";
            });

            event.stopPropagation();
        }
        function toggleMenu(event){

            setMenuDisplayMode(function(menu){

                if(menu.style.display === "block"){
                    menu.style.display = "none";
                }
                else{
                    menu.style.display = "block";
                }
            });

            event.stopPropagation();
        }
        function setMenuDisplayMode(lambda){
            var mediaQuery = window.matchMedia("(max-width: 969px)");
            if (mediaQuery.matches){
                var menu = document.getElementById("navbar-menu-items");
                if (menu === null){
                    console.log("Can't find menu element.");
                    return;
                }

                lambda(menu);
            }
            else{
                console.log("Setting menu display mode while in desktop mode.");
            }
        }
    </script>
</head>