<div class="navbar-container">
    <div>
        <div class="navbar-title">
            <a href="/" class="logo no-decor">
                <span class="navbar-title-firstline">
                    Corner of the
                </span>
                <span class="navbar-title-secondline">
                    Hyperspace
                </span>
            </a>
        </div> 

        <div class="navbar-hamburger" onclick="toggleMenu(event)">
            <span class="top-bun"></span>
            <span class="burger"></span>
            <span class="bottom-bun"></span>
        </div>
    </div>

    <nav class="navbar-nav">
        <ul id="navbar-menu-items" class="navbar-menu-items">
            <a href="/" class="menu-items"><li>Home</li></a>
            <a href="/archive/" class="menu-items"><li>Archive</li></a>
            <a href="/tags/" class="menu-items"><li>Tags</li></a>
            <!-- <a class="menu-items"><li>Projects</li></a> -->
            <a href="/about/" class="menu-items"><li>About</li></a>
        </ul>
        <ul class="navbar-handles">
            <li><a href="https://github.com/{{ site.github_handle }}" class="handle">
                <i class="fab fa-github navbar-handles-handle"></i>
                {{ site.github_handle }}
            </a></li>
            <li><a href="https://bitbucket.com/{{ site.bitbucket_handle }}" class="handle">
                <i class="fab fa-bitbucket navbar-handles-handle"></i>
                {{ site.bitbucket_handle }}
            </a></li>
            <li><a href="https://twitter.com/@{{ site.twitter_handle }}" class="handle">
                <i class="fab fa-twitter navbar-handles-handle"></i>
                {{ site.twitter_handle }}
            </a></li>
        </ul>
    </nav>
</div>