<div class="navbar-container">
    <nav class="navbar-nav">
        <div class="navbar-title">
            <a href="/" class="logo no-decor">
                <div class="navbar-title-firstline">
                    Corner of the
                </div>
                <div class="navbar-title-secondline">
                    Hyperspace
                </div>
            </a>
        </div> 
        <ul>
            <li><a href="/" class="menu-items">Home</a></li></br>
            <li><a href="/archive/" class="menu-items">Archive</a></li></br>
            <li><a href="/tags/" class="menu-items">Tags</a></li></br>
            <!-- <li><a class="menu-items">Projects</a></li></br> -->
            <li><a href="/about/" class="menu-items">About</a></li></br>
        </ul>
        <ul class="navbar-handles">
            <li><a href="https://github.com/{{ site.github_handle }}" class="handle">
                <i class="fab fa-github navbar-handles-handle"></i>
                {{ site.github_handle }}
            </a></li>
            <li><a href="https://bitbucket.com/{{ site.bitbucket_handle }}" class="handle">
                <i class="fab fa-bitbucket navbar-handles-handle"></i>
                {{ site.bitbucket_handle }}
            </a></li>
            <li><a href="https://twitter.com/@{{ site.twitter_handle }}" class="handle">
                <i class="fab fa-twitter navbar-handles-handle"></i>
                {{ site.twitter_handle }}
            </a></li>
        </ul>
    </nav>
</div>