<div class="post-header">
    <span class="title post-title">{{ page.title }}</span><span class="faded-header"> by {{ site.author }}</span>
</div>

<div class="body-text post-content">
    {{ content }}
</div>

<div class="faded-header post-metadata">
    <div>Posted on {{ page.date | date: "%B %e, %Y" }}</div>
    {% unless page.tags == empty %}
    <div class="post-tags">
        <div class="post-tags-label">Tags:</div>
        <div class="post-tags-list">
            {% assign sorted_tags = (page.tags | sort) %}
            {% for tag in sorted_tags %}<div class="post-tag">
                <a href="/tags/#{{ tag }}" class="hard-link">
                    <span class="post-tag-pound">#&nbsp;</span>{{ tag }}
                </a>
            </div>{% endfor %}
        </div>
    </div>
    {% endunless %}
</div>