
$color1 : #252525;
$color2 : #353535;
$color3 : #505050;
$color4 : #808080;
$color5 : #A0A0A0;
//$font_color: rgb(208, 208, 208);
$font_color: rgb(230, 230, 230);
$font_fade_color: rgb(160, 160, 160);
$font_highlight_color: #FFFFFF;
// $highlight_color1 : rgb(0, 128, 128);
// $highlight_color2 : rgb(47.75, 156.75, 156.75);
// $highlight_color3 : rgb(95.5, 185.5, 185.5);
// $highlight_color4 : rgb(163, 216, 216);
// $highlight_color5 : rgb(210, 250, 250);

// $highlight_color1 : rgb(0, 128, 128);
// $highlight_color2 : rgb(41.6, 144, 144);
// $highlight_color3 : rgb(83.2, 160, 160);
// $highlight_color4 : rgb(124.8, 176, 176);
// $highlight_color5 : rgb(166.4, 192, 192);
// $highlight_color6 : rgba(166.4, 192, 192, 0.8);

$highlight_color1 : rgb(0, 128, 128);
$highlight_color2 : rgb(46, 148.4, 148.4);
$highlight_color3 : rgb(92, 168.8, 168.8);
$highlight_color4 : rgb(138, 189.2, 189.2);
$highlight_color5 : rgb(184, 209.6, 209.6);
$highlight_color6 : rgba(184, 209.6, 209.6, 0.8);