
$color1 : #252525;
$color2 : #353535;
$color3 : #505050;
$color4 : #808080;
$color5 : #A0A0A0;
$font_color: rgb(208, 208, 208);
$font_fade_color: rgb(160, 160, 160);
$font_highlight_color: #FFFFFF;
// $highlight_color1 : rgb(0, 128, 128);
// $highlight_color2 : rgb(47.75, 156.75, 156.75);
// $highlight_color3 : rgb(95.5, 185.5, 185.5);
// $highlight_color4 : rgb(163, 216, 216);
// $highlight_color5 : rgb(210, 250, 250);

$highlight_color1 : rgb(0, 128, 128);
$highlight_color2 : rgb(41.6, 144, 144);
$highlight_color3 : rgb(83.2, 160, 160);
$highlight_color4 : rgb(124.8, 176, 176);
$highlight_color5 : rgb(166.4, 192, 192);
$highlight_color6 : rgba(166.4, 192, 192, 0.8);

/*<Color x:Key="ThemeColor2">#505050</Color>
<Color x:Key="ThemeColor1">#404040</Color>
<Color x:Key="ThemeColor3">#808080</Color>
<Color x:Key="ThemeColor4">#A0A0A0</Color>

<Color x:Key="HighlightColor">#008080</Color>
<Color x:Key="BackgroundColor">#252525</Color>

<Color x:Key="FontColor">#D0D0D0</Color>
<Color x:Key="HighlightFontColor">#FFFFFF</Color>*/