@import 'colors';
@import 'layout';

$body_font_family: 'Nunito Sans', sans-serif;
$header_font_family: 'Montserrat', sans-serif;

// Hand-held
$hh_large_font: 2.0rem;
$hh_medium_font: 1.5rem;
$hh_small_font: 1.0rem;

// Large screen
$ls_large_font: 3.0rem;
$ls_medium_font: 2.5rem;
$ls_small_font: 2.0rem;

$bold_weight: 600;
$normal_weight: 500;

html{
    font-size: 62.5%;
}

// Navbar fonts
.menu-items{
    color: $font_color;
    font-family: $header_font_family;
    font-size: $hh_medium_font;

    @include for-tablet-landscape-up{
        font-size: $ls_medium_font;
    }
}

.handle{
    color: $font_color;
    font-family: $header_font_family;
    font-size: $hh_small_font;

    @include for-tablet-landscape-up{
        font-size: $ls_small_font;
    }

    display: block;
}

%title-shared{
    font-family: $header_font_family;
    color: $highlight_color4;
    font-weight: $bold_weight;
    font-size: $hh_large_font;

    @include for-tablet-landscape-up{
        font-size: $ls_large_font;
    }
}

.logo{
    @extend %title-shared;
    font-weight: $normal_weight;
}

// Title and header
.title{
    @extend %title-shared;
}

.header{ /* only used with tags view, is this the right style? same style as menu items but different meaning*/
    font-family: $header_font_family;
    color: $font_color;
    font-size: $hh_medium_font;

    @include for-tablet-landscape-up{
        font-size: $ls_medium_font;
    }
}

.faded-header {
    font-family: $header_font_family;
    color: $font_fade_color;
    font-size: $hh_small_font;

    @include for-tablet-landscape-up{
        font-size: $ls_small_font;
    }
}

.faded-color-header{
    font-family: $header_font_family;
    color: $highlight_color5;
    font-size: $hh_small_font;

    @include for-tablet-landscape-up{
        font-size: $ls_small_font;
    }
}

// Body
%body-shared{
    font-family:  $body_font_family;
    color: $font_color;
    font-size: $hh_small_font;

    @include for-tablet-landscape-up{
        font-size: $ls_small_font;
    }
}

.body-text{
    @extend %body-shared;
    text-align: justify;
}

.faded-body-text{
    @extend %body-shared;
    color: $font_fade_color;
    text-align: justify;
}

.hard-link{
    @extend %body-shared;
    color: $highlight_color3;
}

// Index
.pagination{
    @extend %title-shared;
    font-size: $hh_small_font;

    @include for-tablet-landscape-up{
        font-size: $ls_small_font;
    }
}

.enabled.pagination{
    color: $highlight_color3;
}

.disabled.pagination{
    color: $font_color;
}

// // Post tag format, ugly (as hell)
.post-tag{
    font-family: $header_font_family;
    font-variant: small-caps;
    font-weight: $bold_weight;
    font-size: $hh_medium_font;

    @include for-tablet-landscape-up{
        font-size: $ls_medium_font;
    }
}