@import 'colors';
@import 'position';

.index-list{
    padding: 0px;
    margin: 0px;
    
    .index-listitem{
        display: inline-block;
        
        .index-post{
            padding: 0px 0px $content_padding 20px;
        }
    }
}

.index-navigation{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    
    padding-bottom: 20px;

    .pagination{
        padding: 0px 10px 0px 10px;
    }
}