@import 'colors';
@import 'position';

.index-list{
    padding: 0px;
    margin: 0px;
    
    .index-listitem{

        display: inline-block;
        
        .index-post{

            padding: 0px 0px $content_padding 20px;
            
            .index-post-date{
                color: $highlight_color5;
                font-size: 20px;
            }
            
            .index-post-excerpt{
                font-size: 20px;
                p{
                    text-align: justify;
                }
            }
            
            .index-post-title{
                font-family: $header_font_family;
                font-weight: 600;
                font-size: 2rem;
                color: $highlight_color4;
            }
            
            a.index-post-more:link, a.index-post-more:hover, a.index-post-more:visited{
                color: $highlight_color3;
            }
        }
    }
}

.index-navigation{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    
    padding-bottom: 20px;

    font-size: 20px;
    font-family: $header_font_family;

    .navigation-element{
        padding: 0px 10px 0px 10px;
    }

    .navigation-link{
        color: $highlight_color3;
    }

    a, a:visited, a:link{
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }
}