$navbar_width: 30rem;
$content_padding: 12rem;
$content_width: 65rem;
$footer_padding: 6rem;


@mixin for-small-phone-only {
  @media (max-width: 349px) { @content; }
}
@mixin for-phone-up {
  @media (min-width: 350px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 550px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 970px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-wide-up {
  @media (min-width: 1350px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}