@import 'colors';
@import 'layout';
@import 'links';
@import 'fonts';

$padding_size: 3rem;

.navbar-container{
    background-color: $color1;
    
    grid-area: sidebar;
    
    height: auto;
    
    padding: 15px;
    
    @include for-tablet-landscape-up{
        position: fixed;
        
        width: $navbar_width - 2 * $padding_size;
        height: 100%;
        
        padding: $padding_size;
    }

    .navbar-title{

        @include for-tablet-landscape-up{
            padding-bottom: $padding_size;
        }
        
        .navbar-title-firstline{
            text-align: left;
            display: inline;
            
            @include for-tablet-landscape-up{
                display: block;
            }
        }
        .navbar-title-secondline{
            text-align: right;
            display: inline;
            
            @include for-tablet-landscape-up{
                display: block;
            }
        }
    }
    
    .navbar-nav{
        width: auto;

        ul{
            padding: $padding_size 0px 0px 0px;
            margin: 0px;
        }
        
        li {
            display: block;
            padding: 5px 5px 5px 5px;
        }

        .navbar-menu-items{
            display: none;
            @include for-tablet-landscape-up{
                display: block;
            }
        }

        .navbar-handles{
            display: none;

            @include for-tablet-landscape-up{
                display: block;
            }

            .navbar-handles-handle{
                color: $highlight_color3;
            }
        }
    }
}