@import 'colors';
@import 'position';
@import 'links';

.navbar-container{
    
    grid-area: sidebar;
    font-size: 25px;
    color: $font_color;
    background-color: $color1;
    
    
    .navbar-nav{
        width: auto;

        $padding_size: 25px;
        padding: $padding_size;

        .navbar-title{
            font-size: 30px;
            font-weight: 500;
            padding-bottom: $padding_size;
            
            .nav-link{
                color: $highlight_color4;
            }

            .navbar-title-firstline{
                text-align: left;
            }
            .navbar-title-secondline{
                text-align: right;
            }
        }

        ul{
            padding: $padding_size 0px 0px 0px;
            margin: 0px;
        }
        
        li {
            display: inline-block;
            padding: 5px 5px 5px 5px;
        }

        .navbar-handles{
            font-size: 20px;
            
            .navbar-handles-handle{
                color: $highlight_color1;
            }
        }
    }
}