@import 'colors';
@import 'layout';
@import 'links';
@import 'fonts';

$padding_size: 3rem;

.navbar-container{
    background-color: $color1;
    
    grid-area: sidebar;
    
    height: auto;
    
    padding: 10px;
    
    @include for-tablet-landscape-up{
        position: fixed;
        
        width: $navbar_width - 2 * $padding_size;
        height: 100%;
        
        padding: $padding_size;
    }

    .navbar-title{
        text-align: left !important;
        width: fit-content;
        float: left;
        display: inline;
        padding: 5px;

        @include for-tablet-landscape-up{
            padding-bottom: $padding_size;
        }
        
        .navbar-title-firstline{
            text-align: left;
            display: inline;
            
            @include for-tablet-landscape-up{
                display: block;
            }
        }
        .navbar-title-secondline{
            text-align: right;
            display: inline;
            
            @include for-tablet-landscape-up{
                display: block;
            }
        }
    }
    
    .navbar-nav{
        width: auto;
        clear:left;

        ul{
            padding: $padding_size 0px 0px 0px;
            margin: 0px;
        }
        
        li {
            display: block;
            padding: 5px 5px 5px 5px;
        }

        .navbar-menu-items{
            display: none;
            @include for-tablet-landscape-up{
                display: block;
            }
        }

        .navbar-handles{
            display: none;

            @include for-tablet-landscape-up{
                display: block;
            }

            .navbar-handles-handle{
                color: $highlight_color3;
            }
        }
    }

    .navbar-hamburger{
        display: inline-block;
        float: right;
        cursor: pointer;
        
        height: 5rem;
        width: 5rem;

        @include for-tablet-landscape-up{
            display: none;
        }

        .top-bun, .burger, .bottom-bun{

            margin-top: 0.75rem;
            margin-left: 0.75rem;
            margin-right: 0.75rem;

            display: block;
            height: 0.5rem;
            width: 3.5rem;
            background-color: $font_fade_color;
        }

        .top-bun{
            margin-top: 0.875rem;
        }
    }
}