@import 'fonts';
@import 'colors';
@import 'layout';


.post-header{
    padding-bottom: 40px;

    .post-title{
        padding-right: 10px;
    }
}

.post-tags{
    padding-top: 10px;

    .post-tag{
        padding: 2px 5px 2px 5px;
    }
}