@import 'colors';
@import 'fonts';
@import 'links';

.tags-list{

    padding: 0px;
    margin: 0px;

    li{
        display: block;
    }

    .tags-list-item{

        padding-bottom: 40px;

        .tags-list-title{
            margin-bottom: 15px;
        }

        .tags-list-values{
            padding-left: 20px;
            margin: 0px;
        }
    }
}